body{
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;

}

.header{
    background-color: #29487d;
    color: #ffffff;
    padding: .4%;

}

.selectionButtons button{
    width: 150px;
    height: 35px;
    margin-bottom: 15px ;
}

.playArea{
    padding: 15px;
    border: #9cb2ce solid 3px;
    width: 35%;
    margin: auto;
    font-size: 20px;
}


.currentScores{
    width: 11%;
    margin: auto;

}

.playerScore{
    display: flex;
    justify-content: space-around;


}

.computerScore{
    display: flex;
    justify-content: space-around;

}

.scoreNumber{
    align-items: right;
}

.restartButton{
    background-color: #dc3545;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 15px;
}